# Auswertungskript Vorlage

In [35]:
import MDAnalysis as mda
from MDAnalysis.analysis import rms, align
import pandas as pd
import matplotlib.pyplot as plt

## Einleseroutine für xvg-Dateien

In [38]:
input_datei = "em/potential_energy_RNA.xvg"
x, y = [], []
xlabel, ylabel = None, None

with open(input_datei) as f:
    for line in f:
        # Header-Zeilen prüfen
        if line.startswith("@"):
            if "xaxis" in line and "label" in line:
                xlabel = line.split('"')[1]
            elif "yaxis" in line and "label" in line:
                ylabel = line.split('"')[1]
        elif not line.startswith("#"):
            cols = line.split()
            x.append(float(cols[0]))
            y.append(float(cols[1]))

df = pd.DataFrame({xlabel: x, ylabel: y})

In [37]:
df

     Time (ps)       (kJ/mol)
0          0.0  -20769.287109
1          1.0  -41464.804688
2          2.0  -67126.382812
3          3.0  -84357.234375
4          4.0  -95449.359375
..         ...            ...
150      190.0 -133439.156250
151      191.0 -133464.109375
152      192.0 -133474.187500
153      193.0 -133482.796875
154      195.0 -133597.187500

[155 rows x 2 columns]

## Einleseroutine für die RMSD-Berechnung

In [30]:
aligning_traj = mda.Universe("RNA_hairpin.pdb", "md0/RNA_hairpin_centered.xtc")
pdb_reference = mda.Universe("RNA_hairpin.pdb")
RMSD = rms.RMSD(aligning_traj, pdb_reference)
RMSD.run()

In [31]:
rmsd_df = pd.DataFrame(RMSD.results.rmsd, columns=["Frame","Time [ps]","RMSD"])
rmsd_df

           Frame  Time [ps]      RMSD
0            0.0        0.0  4.148705
1            1.0       10.0  4.222917
2            2.0       20.0  4.242085
3            3.0       30.0  4.232460
4            4.0       40.0  4.210852
...          ...        ...       ...
99996    99996.0   999960.0  6.949243
99997    99997.0   999970.0  7.018088
99998    99998.0   999980.0  7.195120
99999    99999.0   999990.0  7.157835
100000  100000.0  1000000.0  7.113987

[100001 rows x 3 columns]